* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a {
  outline: none;
  text-decoration: none;
  font-size: inherit;
  color: inherit; }

img {
  border: none; }

body {
  height: 100%; }

.navbar-default {
  border: none;
  width: 100%;
  box-shadow: none;
  margin-bottom: 0;
  background-image: url("../bg_luis.png"); }
  .navbar-default .navbar-nav a {
    text-transform: uppercase;
    border-bottom: solid 2px transparent; }
    .navbar-default .navbar-nav a:hover {
      border-bottom: solid 2px black; }
  .navbar-default .luis {
    padding-top: 201px;
    padding-bottom: 212px; }
  .navbar-default h1 {
    font-size: 89px;
    color: #4d4d4d;
    padding-bottom: 30px; }
  .navbar-default h3 {
    font-size: 22px;
    color: #4d4d4d;
    padding-bottom: 33px; }
  .navbar-default .luis a {
    background-color: transparent;
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    line-height: 51px;
    padding: 20px 30px 20px 30px;
    margin-right: 20px;
    border: solid 1px black; }
    .navbar-default .luis a:hover {
      background-color: white;
      -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
      box-shadow: 1px 16px 70px 1px #cacaca;
      border: none; }

.know_me {
  padding-top: 110px;
  padding-bottom: 125px; }
  .know_me h2 {
    color: #7b7b7b;
    font-size: 46px;
    letter-spacing: 10px;
    line-height: 51px;
    padding-top: 94px;
    font-weight: bolder; }
  .know_me span {
    font-size: 16px;
    color: #7b7b7b;
    line-height: 27px;
    padding-bottom: 41px;
    display: inline-block; }
  .know_me a {
    background-color: transparent;
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    line-height: 51px;
    padding: 20px 50px 20px 50px;
    border: solid 1px black; }
    .know_me a:hover {
      background-color: white;
      -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
      box-shadow: 1px 16px 70px 1px #cacaca;
      border: none; }
  .know_me img {
    height: 444px;
    width: 570px; }

.services {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
  width: 100%; }
  .services h2 {
    color: #787878;
    font-size: 46px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder; }
  .services .col-md-4 {
    padding-top: 63px;
    padding-bottom: 83px;
    text-align: center; }

.skils {
  padding-top: 127px;
  padding-bottom: 118px;
  text-align: center; }
  .skils h2 {
    text-transform: uppercase;
    color: #717171;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 46px; }
  .skils img {
    width: 100%;
    text-align: center; }

.portfolio {
  padding-top: 126px;
  padding-bottom: 122px;
  text-align: center; }
  .portfolio h2 {
    text-transform: uppercase;
    color: #717171;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 46px; }
  .portfolio .col-md-4 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px; }
    .portfolio .col-md-4 img:hover {
      background-color: white;
      -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
      box-shadow: 1px 16px 70px 1px #cacaca;
      border: none; }
  .portfolio a.p_button {
    background-color: transparent;
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    line-height: 51px;
    padding: 20px 50px 20px 50px;
    border: solid 1px black;
    margin-top: 30px; }
    .portfolio a.p_button:hover {
      background-color: white;
      -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
      box-shadow: 1px 16px 70px 1px #cacaca;
      border: none; }

.testimonials {
  padding-top: 126px;
  padding-bottom: 122px;
  text-align: center; }
  .testimonials h2 {
    text-transform: uppercase;
    color: #717171;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 46px; }
  .testimonials .owl-carousel {
    position: relative; }
  .testimonials section div .item_text {
    position: absolute;
    top: 35%;
    left: 23%;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 12px 47px 12px 40px;
    font-weight: lighter; }
  .testimonials section div .item_text2 {
    position: absolute;
    top: 57%;
    left: 28%;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 11px; }
  .testimonials .owl-carousel .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 14px;
    margin: 0 8px;
    display: inline-block;
    border: solid 4px white; }
  .testimonials .owl-carousel .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 56px;
    width: 100%; }
  .testimonials .owl-carousel .owl-dots .owl-dot.active span {
    border: solid 4px #000000; }
  .testimonials .owl-carousel .owl-dots .owl-dot {
    background-color: transparent; }
  .testimonials .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 48%;
    left: 111px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 1px #FFFFFF !important;
    border-radius: 20px;
    z-index: 5;
    background-color: transparent !important; }
  .testimonials .owl-carousel .owl-nav .owl-prev:hover {
    background-color: black !important;
    opacity: 1; }
    .testimonials .owl-carousel .owl-nav .owl-prev:hover .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 48%;
      right: 111px;
      display: inline-block;
      width: 40px;
      height: 40px;
      border: solid 1px #FFFFFF !important;
      border-radius: 20px;
      z-index: 5;
      background-color: transparent !important; }
    .testimonials .owl-carousel .owl-nav .owl-prev:hover .owl-carousel .owl-nav .owl-next:hover {
      background-color: black !important;
      opacity: 1; }

.statistic {
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 67px;
  margin-bottom: 156px; }
  .statistic h3 {
    font-size: 22px;
    color: #444444; }

.hello {
  background-image: url("../images/footer.png");
  width: 100%;
  text-align: center;
  padding-top: 145px;
  padding-bottom: 30px;
  position: relative; }
  .hello h2 {
    color: #f2f2f2;
    font-size: 46px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bolder; }
  .hello form input {
    height: 57px;
    width: 371px;
    border: none;
    padding-left: 12px;
    font-size: 16px;
    color: #959595;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
