.navbar-default{
  border: none;
  width: 100%;
  box-shadow: none;
  margin-bottom: 0;
  background-image: url("../bg_luis.png");
  .navbar-nav{
    a{
      text-transform: uppercase;
      border-bottom: solid 2px transparent;
            &:hover{
        border-bottom: solid 2px black;
      }
    }
  }
  .luis{
    padding-top: 201px;
    padding-bottom: 212px;

  }
  h1{
    font-size: 89px;
    color: #4d4d4d;
    padding-bottom: 30px;
    }
  h3{
    font-size: 22px;
    color: #4d4d4d;
    padding-bottom: 33px;
    }
  .luis a{
    background-color: transparent;
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    line-height: 51px;
    padding: 20px 30px 20px 30px;
    margin-right: 20px;
    border: solid 1px black;
    &:hover{
      background-color: white;
      -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
      box-shadow: 1px 16px 70px 1px #cacaca;
      border: none;
    }
  }
}
//.block_2:before{
//  border-bottom: solid 4px black;
//}

.know_me{
  padding-top: 110px;
  padding-bottom: 125px;
    h2{
    color: #7b7b7b;
    font-size: 46px;
    letter-spacing: 10px;
    line-height: 51px;
    padding-top: 94px;
    font-weight: bolder;
  }
  span{
    font-size: 16px;
    color: #7b7b7b;
    line-height: 27px;
    padding-bottom: 41px;
    display: inline-block;

  }
  a{
    background-color: transparent;
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    line-height: 51px;
    padding: 20px 50px 20px 50px;
    border: solid 1px black;
    &:hover{
      background-color: white;
      -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
      box-shadow: 1px 16px 70px 1px #cacaca;
      border: none;
    }

  }
  img{
    height: 444px;
    width: 570px;
  }


}
.services{
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
  width: 100%;
  h2{
    color: #787878;
    font-size: 46px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
  }
  .col-md-4{
    padding-top: 63px;
    padding-bottom: 83px;
    text-align: center;
  }

}
.skils{
  padding-top: 127px;
  padding-bottom: 118px;
  text-align: center;
  h2{
    text-transform: uppercase;
    color: #717171;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 46px;

  }
  img{
    width: 100%;
    text-align: center;
  }

}

.portfolio{
  padding-top: 126px;
  padding-bottom: 122px;
  text-align: center;
  h2{
    text-transform: uppercase;
    color: #717171;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 46px;
  }
  .col-md-4 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      &:hover {
        background-color: white;
        -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
        box-shadow: 1px 16px 70px 1px #cacaca;
        border: none;
      }
    }
  }
  a.p_button {
    background-color: transparent;
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    line-height: 51px;
    padding: 20px 50px 20px 50px;
    border: solid 1px black;
    margin-top: 30px;
    &:hover {
      background-color: white;
      -webkit-box-shadow: 1px 16px 70px 1px #cacaca;
      box-shadow: 1px 16px 70px 1px #cacaca;
      border: none;
    }
  }
}

.testimonials{
  padding-top: 126px;
  padding-bottom: 122px;
  text-align: center;
  h2{
    text-transform: uppercase;
    color: #717171;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 46px;
  }
}

.productivity{
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 67px;
}